body {
  margin: 0;
  background: black;
  overflow: hidden;
}

.gallery {
  width: 100vw;
  height: 100vh;
}

.art {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.art.active {
  opacity: 1;
}
